# Every 15 minutes, run the program
0 * * * * /home/pibridge/Desktop/AQI-Hue-Lights/run.sh
15 * * * * /home/pibridge/Desktop/AQI-Hue-Lights/run.sh
30 * * * * /home/pibridge/Desktop/AQI-Hue-Lights/run.sh
45 * * * * /home/pibridge/Desktop/AQI-Hue-Lights/run.sh
